.hero {
  background-color: #495e57;
  color: white;
  display: flex;
  padding: 0.5rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.hero h1 {
  color: #f4ce14;
  font-size: 4rem;
}

.hero span {
  font-size: 2rem;
  font-weight: normal;
}

.hero button {
  background-color: #f4ce14;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.hero button:hover {
  background-color: #f4ce14;
  color: #495e57;
  cursor: pointer;
}

.hero p {
  margin: 1rem 0;
}

.hero-image {
  width: 250px;
  height: 250px;
  border-radius: 1.5rem;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero {
    padding: 0.5rem 1rem;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero span {
    font-size: 1rem;
  }
  .hero p {
    font-size: 0.8rem;
  }
  .hero button {
    font-size: 0.8rem;
  }
  .hero-image {
    display: none;
  }
}
